<nav class="flex items-center justify-between border-b py-5">
  <h1 class="logo w-auto px-4">
    <a class="text-lg sm:text-[1.5rem] md:text-[2rem] font-medium" href="#"
      >Movies Haven</a
    >
  </h1>
  <div
    class="menu w-auto flex flex-col justify-start sm:flex-row sm:justify-between"
  >
    <ul class="flex opacity-0 sm:opacity-100 text-sm px-4">
      <li class="px-1"><a href="/">Home</a></li>
      <li class="px-1"><a href="/">Curators</a></li>
      <li class="px-1"><a href="/">About</a></li>
      <li class="px-1"><a href="/">Contact</a></li>
    </ul>
  </div>
  <!-- <app-radio-player></app-radio-player> -->
</nav>
